.footer-area {
    background-image: url('../../../../../public/assets/img/bg-footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-title {
    font-size: 16px;
    color: #313131;
}

.subcribe-footer input {
    height: 46px;
    color: #333;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    background: transparent;
    outline: none;
    width: 100%;
}

.btn-footer {
    border-bottom: 2px solid #9b9b9c;
}

.footer-area h4 {
    font-size: 16px;
}
