.select-shopping-wrap {
    min-width: 300px;
}

.tab-icon {
    font-size: 20px;
    font-weight: 600;
}

.product-img {
    width: 100%;
    position: relative;
}

.product-action {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.product-shop-wrap:hover .product-same-action {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.product-same-action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    transition: all 0.5s ease;
    transform: translateY(20px);
    opacity: 0;
    background-color: #fb2c39;
    color: #fff;
}

.product-cart {
    border-left: 1px solid rgba(251, 44, 57, 0.2);
    border-right: 1px solid rgba(251, 44, 57, 0.2);
}

.default-img {
    width: 100%;
    object-fit: cover;
    height: 210px;
    vertical-align: middle;
}

.product-content .product-name {
    font-size: 20px;
    line-height: 30px;
}

.product-price .new-price {
    font-size: 15px;
    font-weight: 500;
}

.rating-icon {
    font-size: 16px;
}
