.header-top-wrap {
    border-bottom: 1px solid #000;
}

.languages-wrap {
    position: relative;
}

.languages-wrap::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    height: 20px;
    width: 80px;
}

.languages-wrap:hover .dropdown {
    display: block;
}

.dropdown {
    width: 125px;
    position: absolute;
    display: none;
    top: calc(100% + 20px);
    background: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
}

.language-item {
    padding: 8px 0;
    text-align: left;
}

.language-item span {
    font-size: 13px;
}

.icon {
    font-size: 20px !important;
}
