* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Body */
body {
    background: #fff;
}

/* font-size */
.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

/* Padding */
.pl-0 {
    padding-left: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.px-70 {
    padding-left: 70px;
    padding-right: 70px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

/* Margin */
.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.ml-5 {
    margin-left: 5px;
}

.mx-auto {
    margin: 0 auto;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Display */
.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

/* Line-height */
.lh-74 {
    line-height: 74px;
    height: 74px;
}

/* Text-align */
.text-align-center {
    text-align: center;
}
