* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #f58634;
}

/* Body */
body {
    background: #fff;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
span {
    font-family: Be Vietnam Pro, sans-serif;
}

/* Container */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* font-size */
.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-50 {
    font-size: 50px;
}

/* Padding */
.p-80 {
    padding: 80px;
}

.pl-0 {
    padding-left: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.pt-20 {
    padding-top: 20px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-90 {
    padding-bottom: 90px;
}

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.px-70 {
    padding-left: 70px;
    padding-right: 70px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.py-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Margin */
.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-6 {
    margin-bottom: 6px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-70 {
    margin-left: 70px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mx-auto {
    margin: 0 auto;
}

.mx-2 {
    margin-left: 2px;
    margin-right: 2px;
}

.mx-3 {
    margin-left: 3px;
    margin-right: 3px;
}

.mx-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Display */
.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

/* Line-height */
.lh-74 {
    line-height: 74px;
    height: 74px;
}

/* Text-align */
.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-justify {
    text-align: justify;
}

/* Transition */
img,
.primaryHover span {
    transition: all 0.3s ease 0s;
}

.is-sticky {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease 0s;
    animation: fadeInDown 0.7s ease-in-out 0s 1 normal none running;
    border-bottom: 0 solid #4a90e2;
    background-color: #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

/* Text */
.text-light {
    color: #f8f9fa !important;
}
