.banner-area p {
    font-size: 36px;
}

.banner-wrap {
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 400px;
    transition: all 0.5s ease 0s;
}

.banner-img:hover {
    transform: scale(1.2);
}