.sidebar-widget .ant-checkbox-group {
    flex-direction: column;
}

.sidebar-widget .ant-checkbox-group-item {
    padding: 10px 0;
}

.sidebar-widget p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #333;
}

.sidebar-widget li {
    display: inline-block;
    margin: 0 10px 15px 0;
}

.sidebar-widget ul li > button {
    line-height: 1;
    display: inline-block;
    padding: 9px 17px 12px;
    text-transform: capitalize;
    color: #424242;
    border: none;
    border-radius: 50px;
    background: none;
    background-color: #f6f6f6;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.sidebar-widget ul li > button:hover {
    color: #fff;
    background-color: #fb2c39;
}