.forgot-password-form {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.forgot-password-form-container h1 {
    padding: 16px 0;
    font-size: 24px;
    color: var(--primary-color);
}

.forgot-password-area .ant-tabs-tab-btn {
    font-size: 24px;
}

.forgot-password-area .ant-tabs-nav::before {
    border-bottom: none;
}
